.card {
  grid-template-areas: 'img img'
    'title title'
    'left right';
}

.img {
  grid-area: img;
}

.title {
  grid-area: title;
}

.brand,
.category {
  grid-area: left;
}

.price,
.rating {
  grid-area: right;
}
